/* State=Press */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 4px;
gap: 4px;

position: absolute;
width: 528px;
height: 386px;
left: 20px;
top: 138px;

/* White */
background: #FFFFFF;
/* shadow_default */
box-shadow: 0px 4px 12px rgba(6, 77, 173, 0.15);
border-radius: 8px;


/* Search Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 520px;
height: 47px;

/* White */
background: #FFFFFF;
/* Light Blue_primary */
border: 2px solid #006AFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326059 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 96px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon_איתור אדם */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Component 90 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326100 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 3px;

position: absolute;
width: 6px;
height: 11px;
left: calc(50% - 6px/2);
top: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326101 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 6px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Icon_איתור אדם */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Component 90 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Vector */

position: absolute;
width: 8px;
height: 3.33px;
left: calc(50% - 8px/2);
top: 2px;

/* Gray_1 */
background: #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toogle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 79px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toogle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 48px;
height: 24px;

/* Gray_2 */
background: #C5CBDD;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1261158124 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px;
gap: 10px;

width: 48px;
height: 24px;

/* Gray_2 */
background: #C5CBDD;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 5 */

width: 20px;
height: 20px;

/* White */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* פעיל */

width: 27px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* עלי */

width: 265px;
height: 20px;

/* Body/B16_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Icon_Search */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 12.5%;
right: 29.17%;
top: 12.5%;
bottom: 29.17%;

/* Gray_1 */
border: 1.5px solid #8E929F;


/* Vector */

position: absolute;
left: 62.5%;
right: 12.5%;
top: 62.5%;
bottom: 12.5%;

/* Gray_1 */
border: 1.5px solid #8E929F;


/* Frame 2087326064 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 520px;
height: 327px;

/* White */
background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326067 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 0px 0px 16px;

width: 520px;
height: 48px;

/* White */
background: #FFFFFF;
/* Gray_3 */
border-bottom: 1px solid #F5F5F5;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2087326070 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 504px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Tabs */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 8px;
gap: 8px;

width: 136px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326068 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 24px;
height: 24px;

/* Gray_3 */
background: #F5F5F5;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 10 */

width: 15px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* אסירים */

width: 48px;
height: 20px;

/* Body/B16_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Vector */

position: absolute;
width: 8px;
height: 3.33px;
left: calc(50% - 8px/2);
top: 2px;

/* Gray_1 */
background: #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Tabs */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 8px;
gap: 8px;

width: 135px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2087326068 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 24px;
height: 24px;

/* Gray_3 */
background: #F5F5F5;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 10 */

width: 15px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* אסירים */

width: 47px;
height: 20px;

/* Body/B16_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Vector */

position: absolute;
width: 8px;
height: 3.33px;
left: calc(50% - 8px/2);
top: 2px;

/* Gray_1 */
background: #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Tabs */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 8px;
gap: 8px;

width: 136px;
height: 48px;

/* Light Blue_primary */
border-bottom: 1px solid #006AFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2087326068 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 24px;
height: 24px;

/* Light Blue_1_Secondery */
background: #E6F4FF;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 10 */

width: 16px;
height: 14px;

/* Body/B14_Medium */
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */
text-align: right;

/* Light Blue_primary */
color: #006AFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* אסירים */

width: 48px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Light Blue_primary */
color: #006AFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Light Blue_primary */
border: 1.5px solid #006AFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Light Blue_primary */
border: 1.5px solid #006AFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Vector */

position: absolute;
width: 8px;
height: 3.33px;
left: calc(50% - 8px/2);
top: 2px;

/* Light Blue_primary */
background: #006AFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Result */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 520px;
height: 93px;

/* White */
background: #FFFFFF;
/* Gray_3 */
border-bottom: 1px solid #F5F5F5;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2131329777 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 83px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326100 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 3px;

position: absolute;
width: 6px;
height: 11px;
left: calc(50% - 6px/2);
top: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326101 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 6px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Component 94 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 4px;

width: 47px;
height: 19px;

background: #DFFED1;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* פעיל */

width: 23px;
height: 15px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* identical to box height, or 15px */
text-align: center;

color: #347314;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326060 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 349px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 2131329774 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 349px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 349px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 123456 */

width: 60px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* עלי מזרחי | */

width: 74px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* משמרת ב | 052-7654321 */

width: 349px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 173px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/*   Search Profil   */

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 7705 */

position: absolute;
left: 2.5%;
right: 2.5%;
top: 2.5%;
bottom: 2.5%;

background: url(linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg);
/* Blue_primary */
border: 1.5px solid #00033D;
border-radius: 4px;


/* Result */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 520px;
height: 93px;

/* White */
background: #FFFFFF;
/* Gray_3 */
border-bottom: 1px solid #F5F5F5;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2131329777 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 100px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326100 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 3px;

position: absolute;
width: 6px;
height: 11px;
left: calc(50% - 6px/2);
top: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326101 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 6px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Component 94 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 4px;

width: 64px;
height: 19px;

/* Gray_3 */
background: #F5F5F5;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* לא פעיל */

width: 40px;
height: 15px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* identical to box height, or 15px */
text-align: center;

color: #797979;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326060 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 332px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 2131329774 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 332px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 332px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 123456 */

width: 60px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* עלי מזרחי | */

width: 74px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* משמרת ב | 052-7654321 */

width: 332px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 173px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/*   Search Profil   */

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 7705 */

position: absolute;
left: 2.5%;
right: 2.5%;
top: 2.5%;
bottom: 2.5%;

background: url(linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg);
/* Blue_primary */
border: 1.5px solid #00033D;
border-radius: 4px;


/* Result */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 520px;
height: 93px;

/* White */
background: #FFFFFF;
/* Gray_3 */
border-bottom: 1px solid #F5F5F5;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 2131329777 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 83px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Component 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 3px 6px;
gap: 4px;
isolation: isolate;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 8px;
height: 8px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Vector */

width: 12px;
height: 6px;

/* Gray_1 */
border: 1.5px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2087326100 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 3px;

position: absolute;
width: 6px;
height: 11px;
left: calc(50% - 6px/2);
top: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 2087326101 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 6px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 0px;
height: 8px;

/* Gray_1 */
border: 1px solid #8E929F;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Component 94 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 4px;

width: 47px;
height: 19px;

background: #DFFED1;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* פעיל */

width: 23px;
height: 15px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* identical to box height, or 15px */
text-align: center;

color: #347314;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2087326060 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 349px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 2131329774 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 349px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 349px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 123456 */

width: 60px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* עלי מזרחי | */

width: 74px;
height: 20px;

/* Body/B16_SemiBold */
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
text-align: right;

/* Blue_primary */
color: #00033D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* משמרת ב | 052-7654321 */

width: 349px;
height: 18px;

/* Body/B14_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
/* identical to box height, or 18px */
text-align: right;

/* Gray_1 */
color: #8E929F;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2131329776 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 173px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* מועמד */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 6px;
gap: 4px;

width: 55px;
height: 19px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* ברקאי */

width: 32px;
height: 19px;

/* Body/B12_Regular */
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
/* or 15px */
display: flex;
align-items: center;
text-align: center;

color: #329600;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1172 */

width: 7px;
height: 7px;

background: #329600;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/*   Search Profil   */

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 7705 */

position: absolute;
left: 2.5%;
right: 2.5%;
top: 2.5%;
bottom: 2.5%;

background: url(linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg);
/* Blue_primary */
border: 1.5px solid #00033D;
border-radius: 4px;
